@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Preahvihear&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #EBF8B8;
    font-family: 'Preahvihear', sans-serif;
}

h1 {
    font-family: 'Kalam', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem 0 0 0;
    text-align: center;
}

h2 {
    font-family: 'Kalam', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

img {
    width: 100px;
}